<!-- navbar.component.html -->
<nav class="navbar" [ngClass]="{'scrolled': isScrolled}">
    <div class="logo">
        <img src="../../../assets/imagenes/logo caizas.png" alt="Logo de JCAIZAS">
        <a href="#" class="logo-text">JCAIZAS</a>
    </div>
        
    <ul class="nav-links">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Subastas</a></li>
        <li><a href="#">Cómo Funciona</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Sobre Nosotros</a></li>
        <li><a href="#">Contacto</a></li>
    </ul>
        
    <button class="get-started">Iniciar Sesión</button>
</nav>